{
    "presets": ["es2015", "stage-2", "react"],
    "plugins": ["transform-runtime",
    ["import",
    { "style": "css", "libraryName": "antd", "libraryDirectory": "lib" },
    { "style": "css", "libraryName": "antd-mobile", "libraryDirectory": "lib"}
    ]],
    "comments": false
}