.search {
  min-height: 60px;
  line-height: 60px;
}
.search input {
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  padding: 10px;
  border: 1px solid #999;
}
.hidden {
  display: none;
}
li {
  margin-bottom: 1px;
  background: lightblue;
}
