/*
* @Author: fengyun2
* @Date:   2016-10-22 00:50:54
* @Last Modified by:   fengyun2
* @Last Modified time: 2016-10-22 16:31:37
*/
.facebook-card {
  .card-header {
    padding: 0.5rem;
    display: block;
  }
  .avatar {
    float: left;
  }
  .name {
    margin-left: 2.2rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
  .date {
    margin-left: 2.2rem;
    font-size: 0.65rem;
    color: #5f646e;
  }
}
.card-cover {
  width: 100%;
  display: block;
}
